{% if elasticsearch_cluster_name is defined %}
cluster.name: {{ elasticsearch_cluster_name }}
{% endif %}
{% if elasticsearch_cluster_routing_allocation_awareness_attributes is defined %}
cluster.routing.allocation.awareness.attributes: {{ elasticsearch_cluster_routing_allocation_awareness_attributes }}
{% endif %}
{% if elasticsearch_node_name is defined %}
node.name: {{ elasticsearch_node_name }}
{% endif %}
{% if elasticsearch_node_master is defined %}
node.master: {{ elasticsearch_node_master }}
{% endif %}
{% if elasticsearch_node_data is defined %}
node.data: {{ elasticsearch_node_data }}
{% endif %}
{% if elasticsearch_node_max_local_storage_nodes is defined %}
node.max_local_storage_nodes: {{ elasticsearch_node_max_local_storage_nodes }}
{% endif %}
{% if elasticsearch_node_extras is defined %}
{% for (attribute, value) in elasticsearch_node_extras.iteritems() %}
node.{{ attribute }}: {{ value }}
{% endfor %}
{% endif %}
{% if elasticsearch_index_number_of_shards is defined %}
index.number_of_shards: {{ elasticsearch_index_number_of_shards }}
{% endif %}
{% if elasticsearch_index_number_of_replicas is defined %}
index.number_of_replicas: {{ elasticsearch_index_number_of_replicas }}
{% endif %}
{% if elasticsearch_index_translog_flush_threshold_ops is defined %}
index.translog.flush.threshold_ops: {{ elasticsearch_index_translog_flush_threshold_ops }}
{% endif %}
{% if elasticsearch_index_memory_index_buffer_size is defined %}
indices.memory.index_buffer_size: {{ elasticsearch_index_memory_index_buffer_size }}
{% endif %}
{% if elasticsearch_path_conf is defined %}
path.conf: {{ elasticsearch_path_conf }}
{% endif %}
{% if elasticsearch_path_data is defined %}
path.data: {{ elasticsearch_path_data }}
{% endif %}
{% if elasticsearch_path_work is defined %}
path.work: {{ elasticsearch_path_work }}
{% endif %}
{% if elasticsearch_path_logs is defined %}
path.logs: {{ elasticsearch_path_logs }}
{% endif %}
{% if elasticsearch_path_plugins is defined %}
path.plugins: {{ elasticsearch_path_plugins }}
{% endif %}
{% if elasticsearch_plugin_mandatory is defined %}
plugin.mandatory: {{ elasticsearch_plugin_mandatory }}
{% endif %}
{% if elasticsearch_bootstrap_mlockall is defined %}
bootstrap.mlockall.: {{ elasticsearch_bootstrap_mlockall }}
{% endif %}
{% if elasticsearch_network_bind_host is defined %}
network.bind_host: {{ elasticsearch_network_bind_host }}
{% endif %}
{% if elasticsearch_network_publish_host is defined %}
publish_host.: {{ elasticsearch_network_publish_host }}
{% endif %}
{% if elasticsearch_network_host is defined %}
network.host: {{ elasticsearch_network_host }}
{% endif %}
{% if elasticsearch_transport_tcp_port is defined %}
transport.tcp.port.: {{ elasticsearch_transport_tcp_port }}
{% endif %}
{% if elasticsearch_transport_tcp_compress is defined %}
transport.tcp.compress.: {{ elasticsearch_transport_tcp_compress }}
{% endif %}
{% if elasticsearch_http_port is defined %}
http.port.: {{ elasticsearch_http_port }}
{% endif %}
{% if elasticsearch_http_max_content_length is defined %}
http.max_content_length: {{ elasticsearch_network_ }}
{% endif %}
{% if elasticsearch_http_enabled is defined %}
http.enabled: {{ elasticsearch_http_enabled }}
{% endif %}
{% if elasticsearch_gateway_type is defined %}
gateway.type: {{ elasticsearch_gateway_type }}
{% endif %}
{% if elasticsearch_gateway_recover_after_nodes is defined %}
gateway.recover_after_nodes: {{ elasticsearch_gateway_recover_after_nodes }}
{% endif %}
{% if elasticsearch_gateway_recover_after_data_nodes is defined %}
gateway.recover_after_data_nodes: {{ elasticsearch_gateway_recover_after_data_nodes }}
{% endif %}
{% if elasticsearch_gateway_recover_after_master_nodes is defined %}
gateway.recover_after_master_nodes: {{ elasticsearch_gateway_recover_after_master_nodes }}
{% endif %}
{% if elasticsearch_gateway_recover_after_time is defined %}
gateway.recover_after_time.: {{ elasticsearch_gateway_recover_after_time }}
{% endif %}
{% if elasticsearch_gateway_expected_nodes is defined %}
gateway.expected_nodes: {{ elasticsearch_gateway_expected_nodes }}
{% endif %}
{% if elasticsearch_gateway_expected_data_nodes is defined %}
gateway.expected_data_nodes: {{ elasticsearch_gateway_expected_data_nodes }}
{% endif %}
{% if elasticsearch_gateway_expected_master_nodes is defined %}
gateway.expected_master_nodes: {{ elasticsearch_gateway_expected_master_nodes }}
{% endif %}
{% if elasticsearch_cluster_routing_allocation_node_concurrent_recoveries is defined %}
cluster.routing.allocation.node_concurrent_recoveries: {{ elasticsearch_cluster_routing_allocation_node_concurrent_recoveries }}
{% endif %}
{% if elasticsearch_indices_recovery_max_bytes_per_sec is defined %}
indices.recovery.max_bytes_per_sec: {{ elasticsearch_indices_recovery_max_bytes_per_sec }}
{% endif %}
{% if elasticsearch_indices_recovery_concurrent_stream is defined %}
indices.recovery.concurrent_stream: {{ elasticsearch_indices_recovery_concurrent_stream }}
{% endif %}
{% if elasticsearch_discovery_zen_minimum_master_nodes is defined %}
discovery.zen.minimum_master_nodes: {{ elasticsearch_discovery_zen_minimum_master_nodes }}
{% endif %}
{% if elasticsearch_discovery_zen_ping_timeout is defined %}
discovery.zen.ping.timeout: {{ elasticsearch_discovery_zen_ping_timeout }}
{% endif %}
{% if elasticsearch_discovery_zen_ping_multicast_enabled is defined %}
discovery.zen.ping.multicast.enabled: {{ elasticsearch_discovery_zen_ping_multicast_enabled }}
{% endif %}
{% if elasticsearch_discovery_zen_ping_unicast_hosts is defined %}
discovery.zen.ping.unicast.hosts: {{ elasticsearch_discovery_zen_ping_unicast_hosts }}
{% endif %}
http.jsonp.enable: false
{% if elasticsearch_script_disable_dynamic is defined %}
script.disable_dynamic: {{ elasticsearch_script_disable_dynamic }}
{% endif %}
{% if elasticsearch_http_cors_enabled is defined %}
http.cors.enabled: {{ elasticsearch_http_cors_enabled }}
{% endif %}
{% if elasticsearch_http_cors_allow_origin is defined %}
http.cors.allow-origin: {{ elasticsearch_http_cors_allow_origin }}
{% endif %}
{% if elasticsearch_plugin_aws is defined %}
discovery.type: ec2
{% if elasticsearch_plugin_aws_availability_zones is defined %}
discovery.ec2.availability_zones: '{{ elasticsearch_plugin_aws_availability_zones }}'
{% endif %}
{% if elasticsearch_plugin_aws_any_group is defined %}
discovery.ec2.any_group: '{{ elasticsearch_plugin_aws_any_group }}'
{% endif %}
{% if elasticsearch_plugin_aws_ec2_groups is defined %}
discovery.ec2.groups: '{{ elasticsearch_plugin_aws_ec2_groups }}'
{% endif %}
{% if elasticsearch_plugin_aws_ec2_ping_timeout is defined %}
discovery.ec2.ping_timeout: {{ elasticsearch_plugin_aws_ec2_ping_timeout}}
{% endif %}
cloud.node.auto_attributes: true
{% if elasticsearch_plugin_aws_access_key is defined %}
{% if elasticsearch_plugin_aws_secret_key is defined %}
cloud.aws.access_key: '{{ elasticsearch_plugin_aws_access_key }}'
cloud.aws.secret_key: '{{ elasticsearch_plugin_aws_secret_key }}'
{% endif %}
{% endif %}
{% if elasticsearch_plugin_aws_region is defined %}
cloud.aws.region: {{ elasticsearch_plugin_aws_region}}
{% endif %}
{% endif %}
{% if elasticsearch_action_auto_create_index is defined %}
action.auto_create_index: {{ elasticsearch_action_auto_create_index }}
{% endif %}
{% if elasticsearch_action_disable_delete_all_indices is defined %}
action.disable_delete_all_indices: {{ elasticsearch_action_disable_delete_all_indices }}
{% endif %}
{% if elasticsearch_conf_additional is defined %}
{% for additional_setting in elasticsearch_conf_additional %}
{{ additional_setting }}
{% endfor %}
{% endif %}